
<IfModule mod_rewrite.c>
    RewriteEngine On

    # If the request is not an existing file or directory,
    # send everything to index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L,QSA]
</IfModule>